@media (max-width: 1024px) {
  .btn-contactar {
    display: none;
  }

  .a-contact {
    display: flex;
  }

  .services-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .hero-btns {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .hero-info h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-picture {
    display: none;
  }

  .hero-container-p {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hero-info {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #services {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0.5rem 0 2rem 0;
  }
}

@media (max-width: 580px) {
  /* =============== NAVBAR =============== */

  .navbar-list {
    display: none;
    position: absolute;
    top: 60px;
    width: 95%;
    left: 2.5%;
    border: 2px solid var(--text-secondary);
    border-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -ms-border-radius: 0px 0px 10px 10px;
    -o-border-radius: 0px 0px 10px 10px;
    padding: 1.5rem;
    background-color: gray;
    align-items: flex-start;
  }

  .navbar-list a {
    font-size: 1.2rem;
  }

  .menu-label {
    display: flex;
    cursor: pointer;
  }

  .menu-label .fa-bars {
    font-size: 25px;
  }

  #menu-hamburguesa:checked + .navbar-list {
    display: flex;
  }

  /* =============== HERO =============== */

  .hero-btns {
    flex-direction: column;
    gap: 1rem;
  }

  /* =============== US =============== */

  .us-parrafos {
    flex-direction: column;
  }

  /* =============== CONTACT CARDS =============== */

  #contact {
    height: 600px;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .card-contact {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .hero-info h1 {
    font-size: 2rem;
  }
}
